<!DOCTYPE html>
<html>
<head>
    <title>Read</title>
</head>
<body>
    <h1>Current Data</h1>
    <table border="1">
        <tr>
            <th>Key</th>
            <th>Value</th>
            <th>Actions</th>
        </tr>
        {% for key, value in data.items %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
            <td>
                <a href="{% url 'update' key %}">Update</a>
                <a href="{% url 'delete' key %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'create' %}">Add Data</a>
</body>
</html>
